/* Description: Master CSS file */

/*****************************************
Table Of Contents:
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f9f9f9
- Buttons, links - red #e5575e
- Headings text - black #30363a
- Body text - dark gray #474c4e
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #474c4e; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #30363a;
	font-weight: 700;
	font-size: 2.625rem;
	line-height: 3.25rem;
	font-family: "Open Sans", sans-serif;
	letter-spacing: -0.4px;
}

h2 {
	color: #30363a;
	font-weight: 700;
	font-size: 2.125rem;
	line-height: 2.5rem;
	font-family: "Open Sans", sans-serif;
	letter-spacing: -0.4px;
}

h3 {
	color: #30363a;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	font-family: "Open Sans", sans-serif;
	letter-spacing: -0.2px;
}

h4 {
	color: #30363a;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: "Open Sans", sans-serif;
}

h5 {
	color: #30363a;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
	font-family: "Open Sans", sans-serif;
}

h6 {
	color: #30363a;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
	font-family: "Open Sans", sans-serif;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #474c4e;
	text-decoration: underline;
}

a:hover {
	color: #474c4e;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.bg-gray {
	background-color: #f9f9f9;
}

.blue {
	color: #e5575e;
}

hr.hr-heading {
	display: inline-block;
	width: 4.5rem;
	height: 0.125rem;
	margin-top: 0;
	border: none;
	background-color: #e5575e;
	opacity: 1;
}

.section-title {
	color: #e5575e;
	font-weight: 700;
	font-size: 0.8125rem;
	line-height: 1.125rem;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #e5575e;
	border-radius: 32px;
	background-color: #e5575e;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #e5575e; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #e5575e;
	border-radius: 32px;
	background-color: #e5575e;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #e5575e; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg .fab {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}

.btn-solid-lg .fab.fa-google-play {
	font-size: 1rem;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #30363a;
	border-radius: 32px;
	background-color: transparent;
	color: #30363a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #30363a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #30363a;
	border-radius: 32px;
	background-color: transparent;
	color: #30363a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #30363a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #30363a;
	border-radius: 32px;
	background-color: transparent;
	color: #30363a;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #30363a;
	color: #ffffff;
	text-decoration: none;
}

.form-floating label {
	margin-left: 0.5rem;
	color: #474c4e;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
	transform: scale(0.85) translateY(-.75rem) translateX(.15rem);
}

.form-floating .form-control {
	padding-left: 1.25rem;
	color: #474c4e;
}

.form-select {
	height: calc(3.5rem + 2px);
	padding-left: 1.25rem;
	color: #474c4e;
}

.form-floating textarea.form-control {
	height: 100%;
}

.form-floating .form-control:hover,
.form-select:hover {
	border: 1px solid #a1a1a1;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.625rem;
	border: 1px solid #e5575e;
	border-radius: 32px;
	background-color: #e5575e;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #e5575e;
	background-color: transparent;
	color: #e5575e;
}

.modal-dialog {
	margin-right: 1rem;
	margin-left: 1rem;
	pointer-events: all;
}

.modal-content {
	background-color: #ffffff;
}

.modal-content .btn-close {
	position: absolute;
	right: 6px;
	top: 10px;
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") no-repeat;
	background-size: 16px 16px;
}


/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

.header a {
	text-decoration: none;
}

.header img {
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}

.header .owner-name,
.header img {
	display: inline-block;
	vertical-align: middle;
}

.header .owner-name {
	color: #30363a;
	font-weight: 700;
	font-size: 1.25rem;
}


/***********************/
/*     Description     */
/***********************/
.basic-1 {
	padding-bottom: 6rem;
	text-align: center;
}

.basic-1 img {
	margin-bottom: 2rem;
}

.basic-1 p {
	margin-bottom: 2rem;
}

.basic-1 .text-container {
	margin-bottom: 6rem;
}

.basic-1 .btn-solid-lg {
	margin-bottom: 1rem;
}

.basic-1 .btn-solid-lg,
.basic-1 .btn-outline-lg {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}

.basic-1 .btn-solid-lg .fas,
.basic-1 .btn-outline-lg .fas {
	line-height: 0;
	margin-right: 0.5rem;
}

.basic-1 .logo-container img {
	display: block;
	max-width: 10.125rem;
	max-height: 1.875rem;
	margin-right: auto;
	margin-bottom: 2.5rem;
	margin-left: auto;
}


/*******************/
/*     Process     */
/*******************/
.cards-1 {
	padding-top: 7.75rem;
	padding-bottom: 2.25rem;
}

.cards-1 h2 {
	margin-bottom: 2rem;
}

.cards-1 .card {
	margin-bottom: 3rem;
	border: 0;
	background-color: transparent;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	color: #e5575e;
	font-weight: 700;
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
}

.cards-1 .card-title .fas {
	margin-right: 0.5rem;
}


/**********************/
/*     Experience     */
/**********************/
.basic-2 {
	padding-top: 2.25rem;
	padding-bottom: 3.25rem;
}

.basic-2 h2 {
	margin-bottom: 1.5rem;
}

.basic-2 .list-unstyled .fas {
	color: #474c4e;
	font-size: 0.375rem;
	line-height: 1.75rem;
}

.basic-2 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}


/************************/
/*     Testimonials     */
/************************/
.basic-3 {
	padding-top: 3.25rem;
	padding-bottom: 1rem;
}

.basic-3 h2 {
	margin-bottom: 2.25rem;
}

.basic-3 .d-flex {
	margin-bottom: 2.5rem;
	padding: 2rem 1.25rem 2rem 1.25rem;
	background: #ffffff;
}

.basic-3 .list-image {
	margin-bottom: 1.25rem;
}

.basic-3 .list-image img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.basic-3 .flex-grow-1 {
	margin-left: 1rem;
}

.basic-3 .testimonial-text {
	margin-bottom: 0.5rem;
}


/*********************/
/*     Customers     */
/*********************/
.slider {
	padding-top: 1.5rem;
	padding-bottom: 4.5rem;
	text-align: center;
}

.slider h5 {
	margin-bottom: 2rem;
}


/********************/
/*     Services     */
/********************/
.cards-2 {
	padding-top: 3.5rem;
	padding-bottom: 5.5rem;
}

.cards-2 h2 {
	margin-bottom: 2.25rem;
}

.cards-2 .card {
	margin-bottom: 3rem;
	padding: 3rem 1.25rem 1.875rem 1.25rem;
	border: none; 
	border-radius: none; 
}

.cards-2 .card-image .fas,
.cards-2 .card-image .far {
	margin-bottom: 1.5rem;
	color: #e5575e;
	font-size: 3.25rem;
} 

.cards-2 .card-body {
	padding: 0;
}

.cards-2 .card-title {
	margin-bottom: 1rem;
}

.cards-2 .list-unstyled .fas {
	color: #474c4e;
	font-size: 0.375rem;
	line-height: 1.75rem;
}

.cards-2 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}


/********************/
/*     Projects     */
/********************/
.basic-4 {
	padding-top: 7.75rem;
	padding-bottom: 7.875rem;
}

.basic-4 h2 {
	margin-bottom: 2.25rem;
}

.basic-4 .static-image img {
	margin-bottom: 3.25rem;
}

.basic-4 h3 {
	margin-bottom: 0.25rem;
}

.basic-4 .project-link {
	display: inline-block;
	margin-bottom: 1.125rem;
	color: #e5575e;
}

.basic-4 .tag {
	margin-right: 1rem;
	color: #92989c;
}

.basic-4 .section-divider {
	margin-top: 4.25rem;
	margin-bottom: 5rem;
}

.basic-4 .gallery .slider-container {
	position: relative;
	margin-bottom: 3.25rem;
}

.basic-4 .gallery .swiper-container {
	position: static;
}

.basic-4 .swiper-button-prev:focus,
.basic-4 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.basic-4 .swiper-button-prev {
	left: 0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.basic-4 .swiper-button-next {
	right: 0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.basic-4 .video .video-wrapper {
	position: relative;
	margin-bottom: 3.25rem;
}

/* Video Play Button */
.basic-4 .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 2rem;
	height: 2.75rem;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.75rem;
	height: 4.75rem;
	border-radius: 50%;
	background: #e5575e;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 4.375rem;
	height: 4.375rem;
	border-radius: 50%;
	background: #e5575e;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
  
.basic-4 .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 0.375rem;
	left: 0.25rem;
	width: 0;
	height: 0;
	border-left: 1.625rem solid #ffffff;
	border-top: 1rem solid transparent;
	border-bottom: 1rem solid transparent;
}
  
@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}
/* end of video play button */


/***********************/
/*     Video Modal     */
/***********************/
.video-modal .modal-dialog {
	max-width: 1150px;
	margin-top: 200px;
}

.modal-content {
	background-color: #303036;
}

.video-modal .modal-content .btn-close {
	position: absolute;
	right: -20px;
	top: -20px;
}


/*****************/
/*     Quote     */
/*****************/
.form {
	padding-top: 7.875rem;
	padding-bottom: 8.75rem;
	text-align: center;
}

.form h2 {
	margin-bottom: 1rem;
}

.form p {
	margin-bottom: 3.75rem;
}

.form form {
	text-align: left;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 7.75rem;
	padding-bottom: 4rem;
	text-align: center;
}

.footer a {
	color: #30363a;
	text-decoration: none;
}

.footer h4 {
	margin-bottom: 2rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #3b3b3e;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #f9f9f9;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #f9f9f9;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #3b3b3e;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1.5rem;
	text-align: center;
}

.copyright a {
	text-decoration: none;
	color: #92989c;
}

.copyright .statement {
	color: #92989c;
}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #3b384b; 
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #e5575e;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 9.5rem;
	padding-bottom: 4rem;
}

.ex-header h1 {
	color: #ffffff;
	text-align: center;
}

.ex-basic-1 .list-unstyled .fas {
	color: #474c4e;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.ex-basic-1 .list-unstyled.list-icon-lg .d-flex {
	margin-bottom: 2.5rem;
}

.ex-basic-1 .list-unstyled.list-icon-lg .list-icon {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #f9f9f9;
	text-align: center;
}

.ex-basic-1 .list-unstyled.list-icon-lg .fas {
	width: 3rem;
	font-size: 1rem;
	line-height: 3rem;
}

.ex-basic-1 .list-unstyled.list-icon-lg .flex-grow-1 {
	margin-left: 0.875rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f9f9f9;
}

.ex-basic-1 .map-responsive {
	overflow: hidden;
	position: relative;
	height: 0;
	margin-bottom: 3rem;
	padding-bottom: 56.25%;
	border-radius: 0.25rem;
}

.ex-basic-1 .map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	border: none; 
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Description */
	.basic-1 h1 {
		font-size: 6.25rem;
		line-height: 7.5rem;
	}

	.basic-1 .image-container {
		position: relative;
		margin-bottom: 4rem;
	}

	.basic-1 img {
		margin-bottom: 0;
	}

	.basic-1 .text-container {
		position: absolute;
		top: 5.5rem;
		right: 0;
		left: 0;
		width: 38rem;
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;
	}

	.basic-1 .logo-container img {
		display: inline-block;
		margin-right: 1rem;
		margin-bottom: 2.25rem;
		margin-left: 1rem;
	}
	/* end of description */


	/* Projects */
	.basic-4 .swiper-button-prev {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.basic-4 .swiper-button-next {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of projects */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	h1 {
		font-size: 3rem;
		line-height: 3.75rem;
	}

	/* Stops body and navbar shift on modal open */
	body.modal-open {
		overflow-y: scroll !important;
		padding-right: 0 !important;
	}
	
	body.modal-open .navbar {
		padding-right: 0 !important;
	}
	/* end of stops body and navbar shift on modal open */
	
	.modal {
		padding-right: 0 !important;
	}
	
	.modal-dialog {
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Header */
	.header img {
		width: 5rem;
		height: 5rem;
		margin-right: 0.625rem;
		margin-left: 0.625rem;
	}
	/* end of header */


	/* Description */
	.basic-1 h1 {
		font-size: 8.5rem;
		line-height: 11rem;
	}

	.basic-1 .text-container {
		width: 43rem;
	}

	.basic-1 .logo-container img {
		max-width: 8rem;
		margin-bottom: 2.5rem;
	}
	/* end of description */


	/* Process */
	.cards-1 .card {
		display: inline-block;
		width: 18rem;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1.75rem;
		margin-left: 1.75rem;
	}
	/* end of process */


	/* Services */
	.cards-2 .card {
		display: inline-block;
		width: 18.5rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		vertical-align: top;
	}

	.cards-2 .card:nth-child(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of services */


	/* Quote */
	.form p {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}

	.form form {
		width: 47rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of quote */


	/* Video Modal */
	.video-modal .modal-dialog {
		margin-top: 7%;
	}
	/* end of video modal */


	/* Footer */
	.footer h4 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of footer */


	/* Copyright */
	.copyright {
		text-align: left;
	}

	.copyright .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.copyright .statement {
		text-align: right;
	}
	/* end of copyright */


	/* Extra Pages */
	.ex-basic-1 .list-unstyled.list-icon-lg .list-icon {
		width: 5rem;
		height: 5rem;
	}
	
	.ex-basic-1 .list-unstyled.list-icon-lg .fas {
		width: 5rem;
		font-size: 2rem;
		line-height: 5rem;
	}
	
	.ex-basic-1 .list-unstyled.list-icon-lg .flex-grow-1 {
		margin-left: 1.5rem;
	}
	/* end of extra pages */

}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.container {
		max-width: 1140px;
	}
	/* end of general styles */
	

	/* Description */
	.basic-1 h1 {
		margin-bottom: 1rem;
		font-size: 10.125rem;
		line-height: 13rem;
		letter-spacing: -1px;
	}

	.basic-1 .logo-container img {
		max-width: 8.875rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	
	.basic-1 .logo-container img:first-of-type {
		margin-left: 0;
	}

	.basic-1 .logo-container img:last-of-type {
		margin-right: 0;
	}
	/* end of description */


	/* Process */
	.cards-1 .card {
		width: 21rem;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of process */


	/* Testimonials */
	.basic-3 .list-unstyled.first {
		margin-right: 0.625rem;
	}

	.basic-3 .list-unstyled.second {
		margin-left: 0.625rem;
	}

	.basic-3 .list-image img {
		width: 5rem;
		height: 5rem;
	}
	
	.basic-3 .flex-grow-1 {
		margin-left: 1.5rem;
	}

	.basic-3 .d-flex {
		padding: 2.25rem 1.5rem 2.125rem 1.5rem;
	}
	/* end of testimonials */


	/* Services */
	.cards-2 .card {
		width: 21.75rem;
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}

	.cards-2 .card:nth-child(3n+2) {
		margin-right: 1.75rem;
		margin-left: 1.75rem;
	}

	.cards-2 .card-image .fas,
	.cards-2 .card-image .far {
		font-size: 3.5rem;
	}
	/* end of services */


	/* Projects */
	.basic-4 .swiper-button-prev {
		left: -2.25rem;
	}
	
	.basic-4 .swiper-button-next {
		right: -2.25rem;
	}
	/* end of projects */
	
	
	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */

}
/* end of min-width 1200px */